/ <!--var:xxx--> should be typed in as /!var:xxx. etc.

/ Body tag in raw HTML to prevent a closing tag
/ since there are ISPs which prepend tracking scripts
/ before </body>.

- prefix = "../"

doctype html
html lang="en-us"
  head
    == Slim::Template.new("src/include/head.slim").render(self, {prefix:prefix})
  <body>
    == Slim::Template.new("src/include/layout_blog.slim").render(self, {prefix:prefix})

    javascript:
      /*
          The following is adapted from
          https://github.com/pritishvaidya/read-time-estimate

          My modification sort of defeats the purpose... eh.

          Copyright (c) 2019 Pritish

          Licensed under MIT: https://raw.githubusercontent.com/pritishvaidya/read-time-estimate/master/LICENSE
      */
      function wordsCount(string) {const pattern = '\\w+'; const reg = new RegExp(pattern, 'g'); return (string.match(reg) || []).length;}
      function wordsReadTime(string, wordsPerMin = 200) {const wordCount = wordsCount(string); const wordTime = wordCount / wordsPerMin; return wordTime; }
      function humanizeTime(time) {if (time < 0.5) {return 'less than a minute';} if (time >= 0.5 && time < 1.5) {return '1 minute';} return `${Math.ceil(time)} minute`;}
      // end excerpt. this needs to be more sophisticated, add the image-handling excerpts from the original perhaps?
      function addEstimates(){add = '<span class="readtime instapaper_hide banner">'; add += "<em>A "; add += humanizeTime(wordsReadTime(document.getElementById("contents").innerText));  add += " read</em><br></span>"; document.getElementById("contents").innerHTML = add + document.getElementById("contents").innerHTML;}
      addEstimates();
