/ <!--var:xxx--> should be typed in as /!var:xxx. etc.

/ Body tag in raw HTML to prevent a closing tag
/ since there are ISPs which prepend tracking scripts
/ before </body>.

- prefix = "../"

doctype html
html lang="en-us"
  head
    == Slim::Template.new("src/include/head.slim").render(self, {prefix:prefix})
  <body>
    == Slim::Template.new("src/include/layout.slim").render(self, {prefix:prefix})
