footer
  a href=prefix
    img src=prefix+"img/new/8831.png"
  br
  | Website design and content &copy; 2015-2020 ZoomTen / Zumi unless stated otherwise<br>
    Powered by <a href="http://github.com/zoomten/mdiocre">MDiocre v3.0</a><br>
    Proudly hosted on <a href="http://www.neocities.org">Neocities</a>
