- entries = { \
  "Home"      => {"href"=> prefix+"index.html",          "sublinks"=>nil},\
  "Bloge"     => {"href"=> prefix+"bloge/index.html",    "sublinks"=>nil},\
  "About" => {"href"=> prefix+"carrd/",  "sublinks"=>nil},\
  "Tutorials" => {"href"=> prefix+"tutorial/index.html",  "sublinks"=>nil},\
  "Splashes"  => {"href"=> prefix+"splashes/index.html", "sublinks"=>nil},\
  "Junk"  =>     {"href"=> nil, "sublinks"=>\
                  {"tfw no ublockorigin"        => prefix + "stuff/error111.html",\
                   "Get Windows 10 NAO!"        => prefix + "stuff/win10gret.html",\
                   "100 layers challenge :)"    => prefix +"stuff/100layers.html",\
                   "Animated Chatlog generator" => prefix + "owo_whats_this/",\
                   "Font tester"                => prefix + "stuff/asciitest.html",\
                   "Action 52"                  => prefix + "stuff/ytmn52.html",\
                   "cURRENT YEAR"               => prefix + "stuff/currentyear.html",\
                   "Tweeting in the 90s"        => prefix + "twittery2k/",\
                 }},\
  "Links"  =>    {"href"=> nil, "sublinks"=>\
                 {"YouTube"       => "https://www.youtube.com/channel/UCsvyOR1dhm6AXiC3Sj6sYpg",\
                  "DeviantART"    => "https://zumipap.deviantart.com/",\
                  "Outdated Wysp" => "https://www.wysp.ws/zoomecrappe/",\
                  "GitHub"        => "https://zoomten.github.io/",\
                  "Twitter"       => "https://twitter.com/zzdaxuya",\
                  "Pleroma"       => "https://stereophonic.space/zzdaxuya",\
                }},\
  "Aesthetic" => {"href"=> nil, "sublinks"=>\
                 {"Web 1.0 - under construction!"         => prefix+"stuff/ancient.html",\
                  "Web 1.5 - *still* under construction!" => prefix+"stuff/millenium.html",\
                  "Web 2.0 - in beta!"                    => prefix+"stuff/web20.html",\
                  "Web 3.0 - help me"                     => prefix+"bootstrapped/",\
                }},\
  }
#sidebar
  ul.mainentries
    - entries.each do |link, dict|
      - if dict["href"] == nil
        li
          a #{link}
          - if dict["sublinks"] != nil
            ul.subentries
              - dict["sublinks"].each do |title, href|
                li: a href='#{href}' #{title}
      - else
        li
          a href='#{dict["href"]}' #{link}
          - if dict["sublinks"] != nil
            ul.subentries
              - dict["sublinks"].each do |title, href|
                li: a href='#{href}' #{title}
