/ <!--var:xxx--> should be typed in as /!var:xxx. etc.

/ This is the contents of <head>.

title
    /!:title
    |  - 
    | Zumi's Site
meta charset="UTF-8"
meta name="author" content="Zumi"
meta name="copyright" content="© 2019 Zumi, web v6"
meta name="viewport" content="width=device-width, initial-scale=1"
meta name="theme-color" content="#000"
link rel="stylesheet" href=prefix+"main.css"
