/ <!--var:xxx--> should be typed in as /!var:xxx. etc.

/ This is the contents of <body>.

header
  h1 Zumi's Website
  a.hidden href="#sidebar" Skip to navigation

.contains
  article#contents
    /! The following article is brought to you by "zumi.neocities.org"
    /!:content
    /! This article was brought to you by "zumi.neocities.org"

  h1.hidden Navigation
  == Slim::Template.new("src/include/_navbar.slim").render(self, {prefix:prefix})

== Slim::Template.new("src/include/_footer.slim").render(self, {prefix:prefix})
