/ <!--var:xxx--> should be typed in as /!var:xxx. etc.

/ This is the contents of <body>.

header
  h1 Zumi's Website
  a.hidden href="#sidebar" Skip to navigation

.contains
  article#contents
    /! The following article is brought to you by "zumi.neocities.org"
    /!:content
    /! This article was brought to you by "zumi.neocities.org"
    / h2 Comments
    / <iframe id="comntr" referrerpolicy="no-referrer" sandbox="allow-scripts allow-same-origin allow-popups" width=100% height=300></iframe>
    / javascript:
    /   document.querySelector('#comntr').src = 'https://comntr.github.io?tag=zumibloge&filter=f407de172bd535a6b7fb20343b05420e53755143' + '#' + location.href;

  h1.hidden Navigation
  == Slim::Template.new("src/include/_navbar.slim").render(self, {prefix:prefix})

== Slim::Template.new("src/include/_footer.slim").render(self, {prefix:prefix})
