/* Font imports. sorry guys :/ */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

@font-face {
    font-family: 'MontserratMedium';
        src: url('https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/d815b0a29adf3450c55f56e2fb813be4/MontserratMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
@font-face {
    font-family: 'MontserratMediumItalic';
        src: url('https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/f15ca5fe6efcb2893541ee7ad896c275/MontserratMediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }
@font-face {
    font-family: 'MontserratBold';
        src: url('https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/9c71d42b6a840ecfda8fc555040a1c76/MontserratBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'MontserratBoldItalic';
        src: url('https://fontlibrary.org/assets/fonts/montserrat/619e8bf55eda408c0efd69be83eb8cbf/81f56370a912bac75d5ad4bd3c52ac55/MontserratBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
      }
