$breakpoints: (
  's': 700px,
  'm': 800px,
  'l': 1000px,
  'xl': 1500px,
);

$theme: (
  'site-border-size': 4px,
  'site-border-color': #fff,

  'site-shadows': rgba(#000, .4),

  'background-color': #eb9100,
  'background-image': url('img/new/top.jpeg'),

  'header-bg-color': #000,
  'header-bg-image': url('img/new/heading.jpeg'),
  'header-text-color': #fff,
  'header-main-size': 128px,

  'heading-under': #00a5ff,

  'nav-bg-color': #595f9f,
  'nav-bg-image': url('img/new/sidebarbg.jpeg'),
  'nav-link-color': #fff,

  'navli-bg-color': #121212,
  'navli-bg-image': url('img/new/sidebarlist.jpeg'),
  'navli-bg-extend': url('img/new/sidebarlistextend.jpeg'),

  'subentries-bg-color': rgba(#999, .5),
  'subentries-bg-color-mobile': rgba(#333, .9),

  'article-bg-color': #ddd,
  'article-bg-image': url('img/new/papier.gif'),

  'link-color': rgb(170, 111, 14),
  'link-visited-color': rgb(113, 105, 102),

  'footer-bg-color': #000,
  'footer-text-color': #ddd,

  'spoiler-btn': #eb5a00,
  'tldr-btn': #005aeb
);

html {
  background-attachment: fixed;
  background-color: map-get($theme, 'background-color');
  background-image: map-get($theme, 'background-image');
  background-repeat: repeat-x;
}

body {
  position: relative;
  top: 1em;
  margin: auto;
  line-height: 1.7;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow-y: scroll;
  @media screen and (max-width: map-get($breakpoints, 's')-1px) {
    top: 0;
    margin: 0;
  }
  @media screen and (min-width: map-get($breakpoints, 's')-1px) {
    width: calc(100% - 16px);
  }
  @media screen and (min-width: map-get($breakpoints, 'm')) {
    width: 90%;
  }
  @media screen and (min-width: map-get($breakpoints, 'l')) {
    width: 80%;
  }
  @media screen and (min-width: map-get($breakpoints, 'xl')) {
    width: 70%;
  }
}

%common-web-sect {
  margin: map-get($theme, 'site-border-size') * -1;
  border: map-get($theme, 'site-border-size') solid map-get($theme, 'site-border-color');
  box-shadow: 0 32px 32px map-get($theme, 'site-shadows');
  @media screen and (max-width: map-get($breakpoints, 's')-1px) {
    margin: 0;
    border: 0;
    box-shadow: 0;
  }
}

%common-headers-solid {
  border-bottom: 2px solid map-get($theme, 'heading-under');
}

%common-headers-dashed {
  border-bottom: 2px dashed map-get($theme, 'heading-under');
}

@mixin linear-gradient-button($color) {
    background-color: $color;
    background: linear-gradient(to bottom,
                                lighten($color, 15%) 0%,
                                $color 50%,
                                darken($color, 15%) 100%);
}

@mixin spoilers-common($color, $preclick-text, $postclick-text) {
  // TODO: old style needs review
    display: none;
    + label{
        padding:10px;
        @include linear-gradient-button($color);
        color:white;
        cursor:pointer;
        border-radius:7px 7px 0 0;
        box-shadow:1px 3px 5px #00000020;
        user-select: none;
        width:20em;
    }
    &:checked + label{
        @include linear-gradient-button(darken($color, 15%))
    }
    ~ .spoi-boi{
        margin-top:12px;
        color:black;
        background:#ffffff80;
        overflow: hidden;
        transform:scaleY(0.0);
        transform-origin:top;
        transition:transform 0.25s;
        height:0;
    }
    &:checked + label + .spoi-boi{
        transform:scaleY(1.0);
        display:block;
        height:auto;
        overflow: scroll;
        border-radius:0 0 7px 7px;
    }
    + label .spoiler-button-text:after{
        content:$preclick-text;
        white-space: pre;
    }
    &:checked + label .spoiler-button-text:after{
        content:$postclick-text;
        white-space: pre;
    }
}

header {
  @extend %common-web-sect;
  background-color: map-get($theme, 'header-bg-color');
  background-image: map-get($theme, 'header-bg-image');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto map-get($theme, 'header-main-size');
  padding: 8px;
  height: map-get($theme, 'header-main-size') + (2 * map-get($theme, 'site-border-size'));
  text-align: right;
  color: map-get($theme, 'header-text-color');
  font-size: 0;

  h1 {
    &:before {
      width: 10px;
      line-height: 1.3;
      white-space: pre-wrap;
      font-size: 24px;
      font-style: italic;
      content: "I don't know what\aI'm doing here lol";

      @media screen and (max-width: map-get($breakpoints, 's')-1px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, 's')-1px) {
    position: fixed;
    top: 0;
    background-size: auto 64px;
    width: 100%;
    height: 64px;
  }
}

.hidden {
  color: transparent;
  font-size: 0;
}

.contains {
  @extend %common-web-sect;
  //direction: rtl;
  display: table;
  //* {direction: ltr;}
}

#sidebar {
  display: table-cell;
  background-color: map-get($theme, 'nav-bg-color');
  background-image: map-get($theme, 'nav-bg-image');
  width: 10em;
  vertical-align: top;
  font-size: 1.1em;

  &::-webkit-scrollbar {
    width: 10px;

    &-thumb {
      background: lighten(map-get($theme, 'nav-bg-color'), 20%);
    }

    &-track {
      background: darken(map-get($theme, 'nav-bg-color'), 20%);
    }
  }

  @media screen and (max-width: map-get($breakpoints, 's')-1px) {
    display: block;
    position: fixed;
    top: 64px;
    width: 100%;
    height: 2.4em;
    font-size: .9em;
    /* split overflow because browsers will break */
    overflow-x: hidden;
    overflow-y: auto;
    }

  ul {
    &.mainentries {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: .25em 0;
        padding: 2px 8px;
        text-shadow: 1px 1px 0 map-get($theme, 'site-shadows'),
                     2px 2px 0 map-get($theme, 'site-shadows');
        color: map-get($theme, 'nav-link-color');
        font-weight: 700;

        a {
          color: inherit;
        }

        &:hover {
          ul.subentries {
            height: 10em;
          }
        }
      }

      > li {
        border-radius: 0 5px 5px 0;
        box-shadow: 0 5px 10px map-get($theme, 'site-shadows');
        background-color: map-get($theme, 'navli-bg-color');
        background-image: map-get($theme, 'navli-bg-image'),
                          map-get($theme, 'navli-bg-extend');
        background-repeat: no-repeat, repeat-x;

        @media screen and (max-width: map-get($breakpoints, 's')-1px) {
          display: inline-block;
          border-radius: 3px;
          padding: 0 6px;
        }
      }
    }

    &.subentries {
      transition: height .6s;
      margin: 0;
      border-radius: 4px;
      background-color: map-get($theme, 'subentries-bg-color');
      padding: 0;
      height: 0;
      /* split overflow because browsers will break */
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;
      font-size: .8em;

      li {
        background-color: transparent;
        font-weight: 400;
      }

      @media screen and (max-width: map-get($breakpoints, 's')-1px) {
        position: fixed;
        top: 100px;
        //right: 0;
        box-shadow: 0 12px 24px map-get($theme, 'site-shadows');
        background-color: map-get($theme, 'subentries-bg-color-mobile');
        font-size: 1em;
      }

      &::-webkit-scrollbar {
        width: 10px;

        &-thumb {
          background: lighten(map-get($theme, 'subentries-bg-color'), 20%);
        }

        &-track {
          background: darken(map-get($theme, 'subentries-bg-color'), 20%);
        }
      }
    }
  }
}


article {
  display: table-cell;
  background-color: map-get($theme, 'article-bg-color');
  background-image: map-get($theme, 'article-bg-image');
  background-position: top left;
  padding: 16px 32px;
  width: 100%;

  @media screen and (max-width: map-get($breakpoints, 's')-1px) {
    display: block;
    top: 0;
    padding-top: 120px;
  }

  h1 {
    @extend %common-headers-solid;
    font-size: 2em;
  }

  h2 {
    @extend %common-headers-solid;
    font-size: 1.5em;
  }

  h3 {
    @extend %common-headers-dashed;
    font-size: 1.3em;
  }

  h4 {
    @extend %common-headers-dashed;
    font-size: 1.1em;
  }

  a {
    color: map-get($theme, 'link-color');

    &:visited {
      color: map-get($theme, 'link-visited-color');
    }
  }

  blockquote {
      border-left: 4px solid #0065BF;
      padding-left: 8px;
  }

  figure {
  //TODO: old style needs review
        display: block;
        margin: 10px auto;
        border: 1px inset grey;
        background: white;
        padding: 10px;
        width: 60%;
        text-align: center;

        @media screen and (max-width: map-get($breakpoints, 's')-1px) {
          width: 40%;
        }

        img {
          box-shadow: 0 0 4px rgba(0,0,0,0.4);
          width: 100%;
        }

        figcaption {font-style: italic;}
    }

  .toc {
    line-height: 1.45em;
    letter-spacing: -1px;
    font-family: "Fira Mono",monospace;
    ul,
    ol {
      list-style: none; padding: 10px;
    }
  }
}

pre {
  // TODO: Review hack
  white-space: pre-wrap;
}

input{
  //TODO: old style needs review
    &[id^="spoiler"]{
        @include spoilers-common( map-get($theme, 'spoiler-btn'),
                                 " (Click to see spoiler)",
                                 " (Lol spoiled)         "
                                );
    }
    &[id^="tldr"]{
        @include spoilers-common( map-get($theme, 'tldr-btn'),
                                  " (Click to see long text)",
                                  " (TL;DR)                            "
                                );
    }
}

footer {
  @extend %common-web-sect;
  background-color: map-get($theme, 'footer-bg-color');
  padding: 4px;
  text-align: center;
  color: map-get($theme, 'footer-text-color');
  font-size: .9em;

  a {
    color: inherit;
  }
}

::-webkit-scrollbar {
  width: 10px;

  &-thumb {
    background: lighten(map-get($theme, 'background-color'), 20%);
  }

  &-track {
    background: darken(map-get($theme, 'background-color'), 20%);
  }
}
