/* Normalize.css */
@import "includes/normalize";
@import "includes/imports";

/*! Start of main CSS -Zumi */

/* treat semantic elements as divs */

header,
footer{
  display: block;
}

/* make it a little easier to style stuff */

html{
  box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

/**********************************************/

/* Desktop / mobile */ @import "includes/screen";
/* Print */            @import "includes/print";
